.ninja_deps
*.o
*.log
*.pyc
*.so
*.bin
build/*
*.cmake
*.in
CMakeFiles/*
CMakeCache.txt
*.egg
Makefile
fake_quant/wandb/
fake_quant/finetune_logs/
*.pth
*.safetensors
*.png
resq-*
fake_quant/output/*
fast-hadamard-transform/*